@import "tailwindcss";

.premium-bio-layout {
  word-wrap: break-word;
  white-space: pre-wrap;
  max-width: 50ch;
  word-break: break-word;
}

.premium-bio-layout.collapsed {
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.premium-bio-layout.collapsed::after {
  display: none;
}
