<div class="modal" id="modal-password">
      <div class="modal-content glass-panel">
        <div class="modal-drag-handle"></div>
        <h2>
          <img src="https://cdn.jsdelivr.net/gh/Tarikul-Islam-Anik/Telegram-Animated-Emojis@main/Objects/Locked%20With%20Key.webp" style="width: 1.2em; height: 1.2em; vertical-align: bottom">
          Вход в приватную комнату
        </h2>
        <p style="color: var(--text-muted); font-size: 13px; margin-bottom: 15px">
          Эта комната защищена паролем. Пожалуйста, введите его для доступа.
        </p>
        <input type="password" id="join-room-password" placeholder="Введите пароль">
        <div class="modal-actions">
          <button class="secondary-btn btn-close-modal">Отмена</button>
          <button class="primary-btn" id="btn-submit-password">Войти</button>
        </div>
      </div>
    </div>

    <!-- Catalog Item Modal -->